/* components/vanta.module.css */
.vantaContainer {
    position: absolute;
    width: 100%;
    height: 100%;
  
    /* fade from full opacity at top → 0 at bottom */
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  